<footer>
	<h2>Konstantinos Lianos &middot; Front-end Architect</h2>
	<ul>
		<li>
			<a href="mailto:jen@example.com" aria-label="Email"> @@svg('linked-in') </a>
		</li>
		<li>
			<a href="mailto:jen@example.com" aria-label="Email"> @@svg('github') </a>
		</li>
		<li>
			<a href="mailto:jen@example.com" aria-label="Email"> @@svg('discord') </a>
		</li>
		<li>
			<a href="mailto:jen@example.com" aria-label="Email"> @@svg('messenger') </a>
		</li>
		<li>
			<a href="mailto:jen@example.com" aria-label="Email"> @@svg('mail') </a>
		</li>
	</ul>
	<p><small>&copy; 2024 Konstantinos Lianos. All rights reserved.</small></p>
</footer>
