.services p {
	text-align: justify;
}

.services h3 {
	display: flex;
	gap: 1rem;
}

.services svg {
	fill: var(--black);
	width: 3rem;
}

.services .services--angular svg {
	fill: rgba(234, 2, 88, 1);
}

.services .services--test svg {
	fill: rgba(21, 194, 19, 1);
}

.services .services--all-js svg:first-child {
	fill: rgba(8, 126, 164, 1);
}

.services .services--all-js svg:nth-child(2) {
	fill: rgba(240, 219, 77, 1);
}

.services .services--all-js svg:last-child {
	fill: rgba(66, 184, 131, 1);
}

.services span.technology {
	font-weight: 700;
	font-style: italic;
}
