<section class="services">
  <div class="container services--angular">
    <h3>Angular Wizard { @@svg('angular') }</h3>
    <p>
      Looking to enhance your web development projects? With 10 years of experience in <span class="technology">Angular</span> and its
      ecosystem, I'm here to help you unlock the full potential of your codebase. I specialize in clean, efficient refactoring and
      performance improvements that will make your applications run smoothly and swiftly. Tackling bugs head-on, I ensure seamless and
      stable operations. Keeping your tech stack up-to-date with the latest version upgrades, I focus on enhancing testability for robust
      and reliable code. Plus, I'm eager to collaborate on implementing new features tailored to your business needs.
    </p>
  </div>

  <div class="container services--test">
    <h3>Rock-Solid Testing { @@svg('vial') }</h3>
    <p>
      Creating dependable applications is my mission, and it all starts with top-notch testing. With years of hands-on experience, I
      specialize in crafting unit tests with Jest and executing seamless end-to-end tests using
      <span class="technology">WebdriverIO</span> and <span class="technology">Cypress</span>. I've successfully migrated tests from
      <span class="technology">Karma</span> to <span class="technology">Jest</span> and <span class="technology">Protractor</span> to
      <span class="technology">WebdriverIO</span>, handling configurations and mentoring automation testers along the way. My approach also
      includes a knack for Behavior-Driven Development (<span class="technology">BDD</span>) with
      <span class="technology">Gherkin</span> and <span class="technology">Cucumber</span>, ensuring everything works perfectly and everyone
      is on the same page. Let's ensure your app isn't just good—it's bulletproof and ready for anything.
    </p>
  </div>

  <div class="container services--all-js">
    <h3 class="all-js-header">All-Things JavaScript { @@svg('react') @@svg('node') @@svg('vue') }</h3>
    <p>
      I’ve tinkered with everything JavaScript. From experimenting with sleek front-ends using
      <span class="technology">React</span> and <span class="technology">Vue</span> to exploring robust back-ends with
      <span class="technology">Node.js</span> and <span class="technology">Nest.js</span>, Always eager to learn and innovate.
    </p>
  </div>

  @@partial('hire-me')
</section>
